In [3]:
import pandas as pd
from sklearn.datasets import load_breast_cancer,load_boston,load_diabetes,load_linnerud

datasets = {'Breast Cancer':load_breast_cancer(),'Boston':load_boston(),
            'Diabetes':load_diabetes(),'Linnerud':load_linnerud()}

for dataset in datasets:
    print("\n** {} **".format(dataset))
    print('{}'.format(datasets[dataset].feature_names))

** Breast Cancer **
['mean radius' 'mean texture' 'mean perimeter' 'mean area'
 'mean smoothness' 'mean compactness' 'mean concavity'
 'mean concave points' 'mean symmetry' 'mean fractal dimension'
 'radius error' 'texture error' 'perimeter error' 'area error'
 'smoothness error' 'compactness error' 'concavity error'
 'concave points error' 'symmetry error' 'fractal dimension error'
 'worst radius' 'worst texture' 'worst perimeter' 'worst area'
 'worst smoothness' 'worst compactness' 'worst concavity'
 'worst concave points' 'worst symmetry' 'worst fractal dimension']

** Boston **
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

** Diabetes **
['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

** Linnerud **
['Chins', 'Situps', 'Jumps']

In [10]:
linnerud = load_linnerud()

linnerud_features_df = pd.DataFrame(data=linnerud.data,
                               columns=linnerud.feature_names)

linnerud_targets_df = pd.DataFrame(data=linnerud.data,
                               columns=linnerud.target_names)
linnerud_targets_df.head(2)

   Weight  Waist  Pulse
0     5.0  162.0   60.0
1     2.0  110.0   60.0

In [5]:
print(linnerud.DESCR)

.. _linnerrud_dataset:

Linnerrud dataset
-----------------

**Data Set Characteristics:**

    :Number of Instances: 20
    :Number of Attributes: 3
    :Missing Attribute Values: None

The Linnerud dataset constains two small dataset:

- *physiological* - CSV containing 20 observations on 3 exercise variables:
   Weight, Waist and Pulse.

- *exercise* - CSV containing 20 observations on 3 physiological variables:
   Chins, Situps and Jumps.

.. topic:: References

  * Tenenhaus, M. (1998). La regression PLS: theorie et pratique. Paris: Editions Technic.

In [6]:
list(linnerud.target_names)

['Weight', 'Waist', 'Pulse']

In [7]:
list(linnerud.feature_names)

['Chins', 'Situps', 'Jumps']

In [11]:
linnerud_targets_df

    Weight  Waist  Pulse
0      5.0  162.0   60.0
1      2.0  110.0   60.0
2     12.0  101.0  101.0
3     12.0  105.0   37.0
4     13.0  155.0   58.0
5      4.0  101.0   42.0
6      8.0  101.0   38.0
7      6.0  125.0   40.0
8     15.0  200.0   40.0
9     17.0  251.0  250.0
10    17.0  120.0   38.0
11    13.0  210.0  115.0
12    14.0  215.0  105.0
13     1.0   50.0   50.0
14     6.0   70.0   31.0
15    12.0  210.0  120.0
16     4.0   60.0   25.0
17    11.0  230.0   80.0
18    15.0  225.0   73.0
19     2.0  110.0   43.0